$size-width: 400px;
$size-height: 250px;

.carousel-wrapper {
  width: $size-width * 1.3;
  height: $size-height * 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 100px auto 20px;
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("images/wood-chisel-closeup-small.jpeg");
  }
  .image-two {
    background-image: url("images/turtle-wood-carving-small.jpeg");
  }
  .image-three {
    background-image: url("images/thumb-pallette-small.jpeg");
  }
  .image-four {
    background-image: url("images/three-polaroids.jpeg");
  }
  .image-five {
    background-image: url("images/ships-wheel.jpeg");
  }
  .image-six {
    background-image: url("images/sculpture-molds.jpeg");
  }
  .image-seven {
    background-image: url("images/red-orange-splash.jpeg");
  }
  .image-eight {
    background-image: url("images/red-and-blue-resin-small.jpeg");
  }
  .image-nine {
    background-image: url("images/pink-swirls.jpeg");
  }
  .image-ten {
    background-image: url("images/purple-and-orange-resin-small.jpeg");
  }
  .image-eleven {
    background-image: url("images/pineapple-photo.jpeg");
  }
  .image-twelve {
    background-image: url("images/painted-boxes.jpeg");
  }
  .image-thirteen {
    background-image: url("images/octopus-painting.jpeg");
  }
  .image-fourteen {
    background-image: url("images/messy-paints-on-tarp-small.jpeg");
  }
  .image-fifteen {
    background-image: url("images/marias-hands-small.jpeg");
  }
  .image-sixteen {
    background-image: url("images/goldfish-epoxy-small.jpeg");
  }
  .image-seventeen {
    background-image: url("images/double-vision-mason-jars.jpeg");
  }
  .image-eighteen {
    background-image: url("images/bricks.jpeg");
  }
  .image-nineteen {
    background-image: url("images/abstract-small.jpeg");
  }
  .image-twenty {
    background-image: url("images/airplane-polaroid.jpeg");
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;
  .carousel-wrapper {
    width: $size-width * 1.3;
    height: $size-height * 1.4;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * 3;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}
